section {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


}

.navbar-brand, footer {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.nav-item {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

